{{ if .Site.Params.relatedPosts }}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="post__related">
    <!-- related content -->
    <h2>Related Articles</h2>
    <ul class="related-posts">
        {{ partial "posts-list.html" . }}
    </ul>
</div>
<script src="https://giscus.app/client.js"
        data-repo="shyamjos/shyamjos.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk5OTQ4NDYxOA=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBe4Dys4CcAJ1"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
{{ end }}
